.frame-child80 {
  height: 56px;
  width: 1440px;
  position: relative;
  background-color: var(--color-red-200);
  display: none;
  max-width: 100%;
}
.icon-home9 {
  height: 39.4px;
  width: 44px;
  position: relative;
  z-index: 2;
}
.cellphones9 {
  margin: 0;
  height: 54px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.icon-home-parent3 {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child81,
.menu-item-child {
  height: 45px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  display: none;
}
.menu-item-child {
  height: 35px;
  width: 130px;
  background-color: var(--color-red-200);
}
.danh-mc9 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 114px;
  z-index: 3;
}
.menu-item {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-4xs);
  background-color: var(--color-red-200);
  border-radius: var(--br-mid);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.menu-item:hover {
  background-color: var(--color-red-100);
}
.person-icon-child,
.rectangle-parent52 {
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
}
.rectangle-parent52 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-6xs);
  z-index: 1;
}
.person-icon-child {
  height: 45px;
  width: 209px;
  position: relative;
  display: none;
}
.bn-cn-g9 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.search-icon1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.icon-magnifying-glass9 {
  height: 23.9px;
  width: 27px;
  position: relative;
  min-height: 24px;
  z-index: 2;
}
.frame-parent84,
.frame-parent85,
.person-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.person-icon {
  flex: 1;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  padding: var(--padding-3xs) var(--padding-xs) var(--padding-2xs)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 136px;
  z-index: 1;
}
.frame-parent84,
.frame-parent85 {
  max-width: 100%;
}
.frame-parent85 {
  flex: 1;
  gap: var(--gap-10xl);
  min-width: 249px;
  font-size: var(--font-size-xl);
}
.frame-parent84 {
  width: 787px;
  gap: var(--gap-104xl);
}
.password-input-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-phone9 {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 23px;
  height: 36.2px;
  z-index: 2;
}
.password-input {
  height: 47px;
  width: 47px;
  position: relative;
}
.password-input-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-person14 {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 31px;
  height: 25.4px;
  z-index: 2;
}
.password-input1 {
  height: 47px;
  width: 47px;
  position: relative;
}
.person-icon-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-cart9 {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 34px;
  height: 27px;
  z-index: 2;
}
.person-icon1 {
  width: 47px;
  height: 47px;
  position: relative;
}
.phone-icon1 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.phone-icon1,
.username-input,
.username-input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.username-input {
  flex-direction: row;
  gap: var(--gap-sm);
}
.username-input-wrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.frame-child82,
.rectangle-parent51 {
  background-color: var(--color-red-200);
}
.rectangle-parent51 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-26xl) 0 var(--padding-72xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child82 {
  height: 130.7px;
  width: 118.1px;
  position: relative;
  border-radius: var(--br-3xs);
  display: none;
}
.icon-person15 {
  height: 106.9px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.rectangle-parent53 {
  width: 118.1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-9) var(--padding-base-4);
  box-sizing: border-box;
}
.frame-child83 {
  position: absolute;
  top: 4px;
  right: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-blue-100);
  width: 140px;
  height: 56px;
}
.facebook-icon6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 38px;
  max-height: 100%;
  width: 64px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent54 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 64px;
  flex: 1;
  position: relative;
}
.frame-child84 {
  position: absolute;
  top: 4px;
  right: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-blue-200);
  width: 140px;
  height: 56px;
}
.facebook-icon7 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 38px;
  max-height: 100%;
  width: 64px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent55 {
  height: 64px;
  flex: 1;
  position: relative;
}
.frame-parent90 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-wrapper53 {
  width: 303px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper52,
.frame-wrapper53,
.instance-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper52 {
  width: 140px;
  overflow: hidden;
  flex-shrink: 0;
}
.instance-wrapper2 {
  padding: 0 var(--padding-10xs);
}
.tn-ng-nhp2 {
  position: relative;
  font-weight: 600;
}
.tn-ng-nhp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.login-button1 {
  height: 50px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 239px;
  max-width: 100%;
  cursor: pointer;
}
.frame-input,
.frame-parent89,
.frame-parent91 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent91 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-mid);
  max-width: 100%;
}
.frame-input,
.frame-parent89 {
  flex-direction: column;
}
.frame-parent89 {
  align-self: stretch;
  gap: var(--gap-2xl);
  max-width: 100%;
}
.frame-input {
  width: 115px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 39px;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame-child85 {
  height: 50px;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  min-width: 239px;
  max-width: 100%;
  cursor: pointer;
}
.frame-parent92 {
  width: 505px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.frame-parent88 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-16xl);
}
.facebook-logo,
.frame-parent87,
.frame-parent88 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.facebook-logo {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-14xl) 0 0;
  box-sizing: border-box;
  min-width: 366px;
}
.frame-parent87 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-33xl-9);
}
.frame-child86 {
  height: 70px;
  width: 300px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-orangered-300);
  display: none;
}
.ng-nhp3 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.frame-wrapper54,
.rectangle-parent56 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent56 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-34xl) var(--padding-mini);
  background-color: var(--color-orangered-300);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.rectangle-parent56:hover {
  background-color: var(--color-orangered-100);
}
.frame-wrapper54 {
  width: 544px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent86 {
  width: 734px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.login6,
.login6-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.login6-inner {
  width: 1250px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.login6 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-32xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-21xl);
}
@media screen and (max-width: 1100px) {
  .rectangle-parent51 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .cellphones9 {
    font-size: var(--font-size-13xl);
  }
  .frame-parent84 {
    gap: var(--gap-42xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-parent84 {
    flex-wrap: wrap;
  }
  .rectangle-parent51 {
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frame-parent91 {
    flex-wrap: wrap;
  }
  .frame-parent88 {
    gap: var(--gap-mid);
  }
  .frame-parent87 {
    gap: var(--gap-7xl);
  }
  .login6 {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .cellphones9 {
    font-size: var(--font-size-5xl);
  }
  .bn-cn-g9 {
    font-size: var(--font-size-base);
  }
  .frame-parent85 {
    flex-wrap: wrap;
  }
  .frame-parent84 {
    gap: var(--gap-12xl);
  }
  .rectangle-parent51 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .tn-ng-nhp2 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent92 {
    flex-wrap: wrap;
  }
  .facebook-logo {
    min-width: 100%;
  }
  .rectangle-parent56 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
