.frame-child {
  height: 56px;
  width: 1440px;
  position: relative;
  background-color: var(--color-red-200);
  display: none;
  max-width: 100%;
}
.icon-home {
  width: 39px;
  height: 29.4px;
  position: relative;
  z-index: 1;
}
.icon-home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.cellphones {
  margin: 0;
  height: 54px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.frame-group {
  width: 284px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-item,
.user-options-child {
  height: 45px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  display: none;
}
.user-options-child {
  height: 35px;
  width: 130px;
  background-color: var(--color-red-200);
}
.danh-mc {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 114px;
  z-index: 3;
}
.user-options {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-4xs);
  background-color: var(--color-red-200);
  border-radius: var(--br-mid);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.user-options:hover {
  background-color: var(--color-red-100);
}
.frame-inner,
.rectangle-group {
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
}
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-6xs);
  z-index: 1;
}
.frame-inner {
  height: 45px;
  width: 209px;
  position: relative;
  display: none;
}
.bn-cn-g {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.icon-magnifying-glass {
  width: 23px;
  height: 18px;
  position: relative;
  z-index: 2;
}
.search-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.category-label,
.frame-parent,
.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  padding: var(--padding-2xs) var(--padding-mid) var(--padding-2xs)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 136px;
  z-index: 1;
}
.category-label,
.frame-parent {
  max-width: 100%;
}
.category-label {
  flex: 1;
  gap: var(--gap-10xl);
  min-width: 249px;
  font-size: var(--font-size-xl);
}
.frame-parent {
  width: 790px;
  gap: var(--gap-104xl);
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-phone {
  position: absolute;
  top: 7px;
  left: 14px;
  width: 20px;
  height: 34px;
  z-index: 2;
}
.ellipse-parent {
  height: 47px;
  width: 47px;
  position: relative;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-person {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 31px;
  height: 26px;
  z-index: 2;
}
.ellipse-group {
  height: 47px;
  width: 47px;
  position: relative;
}
.button-login {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-cart {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 30px;
  height: 25px;
  z-index: 2;
}
.button-register {
  width: 47px;
  height: 47px;
  position: relative;
}
.button-register-wrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.button-register-wrapper,
.frame-container,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  flex-direction: row;
  gap: var(--gap-sm);
}
.frame-wrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-div,
.rectangle-parent {
  background-color: var(--color-red-200);
}
.rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-26xl) 0 88px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.rectangle-div {
  height: 130.7px;
  width: 118.1px;
  position: relative;
  border-radius: var(--br-3xs);
  display: none;
}
.icon-person1 {
  height: 106.9px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.frame-child2,
.group-div {
  border-radius: var(--br-3xs);
}
.group-div {
  width: 118.1px;
  background-color: var(--color-red-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-9) var(--padding-base-4);
  box-sizing: border-box;
  min-width: 118.09999999999992px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-child2 {
  height: 70px;
  width: 300px;
  position: relative;
  background-color: var(--color-orangered-300);
  display: none;
}
.ng-nhp {
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-34xl) var(--padding-mini);
  background-color: var(--color-orangered-300);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.group-button:hover {
  background-color: var(--color-orangered-100);
}
.person-and-greeting-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 18.7px;
}
.person-and-greeting {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 28.9px;
  max-width: 100%;
}
.cha-c-ti {
  position: relative;
  font-weight: 600;
  cursor: pointer;
}
.no-account-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.person-and-greeting-parent {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.3px;
  max-width: 100%;
}
.login,
.login-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-inter);
}
.login-inner {
  width: 1216px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: #00effe;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 200px;
  gap: var(--gap-32xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
@media screen and (max-width: 1100px) {
  .rectangle-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .cellphones {
    font-size: var(--font-size-13xl);
  }
  .frame-parent {
    gap: var(--gap-42xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-parent {
    flex-wrap: wrap;
  }
  .rectangle-parent {
    padding-left: var(--padding-25xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .login {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .cellphones {
    font-size: var(--font-size-5xl);
  }
  .bn-cn-g {
    font-size: var(--font-size-base);
  }
  .category-label {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: var(--gap-12xl);
  }
  .rectangle-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .group-div,
  .icon-person1 {
    flex: 1;
  }
  .group-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .person-and-greeting {
    flex-wrap: wrap;
  }
  .cha-c-ti {
    font-size: var(--font-size-lgi);
  }
}
