.frame-child134 {
  height: 56px;
  width: 1440px;
  position: relative;
  background-color: var(--color-red-200);
  display: none;
  max-width: 100%;
}
.icon-home14 {
  width: 39px;
  height: 32.2px;
  position: relative;
  z-index: 1;
}
.icon-home-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.cellphones14 {
  margin: 0;
  height: 54px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.frame-parent134 {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child135,
.frame-child136 {
  height: 45px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  display: none;
}
.frame-child136 {
  height: 35px;
  width: 130px;
  background-color: var(--color-red-200);
}
.danh-mc14 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 114px;
  z-index: 3;
}
.rectangle-parent85 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-4xs);
  background-color: var(--color-red-200);
  border-radius: var(--br-mid);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent85:hover {
  background-color: var(--color-red-100);
}
.frame-child137,
.rectangle-parent84 {
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
}
.rectangle-parent84 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-6xs);
  z-index: 1;
}
.frame-child137 {
  height: 45px;
  width: 209px;
  position: relative;
  display: none;
}
.bn-cn-g14 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.bn-cn-g-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.icon-magnifying-glass14 {
  height: 29px;
  width: 30px;
  position: relative;
  min-height: 29px;
  z-index: 2;
}
.frame-parent133,
.frame-parent135,
.rectangle-parent86 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent86 {
  flex: 1;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 136px;
  z-index: 1;
}
.frame-parent133,
.frame-parent135 {
  max-width: 100%;
}
.frame-parent135 {
  flex: 1;
  gap: var(--gap-10xl);
  min-width: 249px;
  font-size: var(--font-size-xl);
}
.frame-parent133 {
  width: 787px;
  gap: var(--gap-104xl);
}
.frame-child138 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-phone14 {
  position: absolute;
  top: 4.2px;
  left: 15px;
  width: 17.7px;
  height: 38.8px;
  z-index: 2;
}
.ellipse-parent28 {
  height: 47px;
  width: 47px;
  position: relative;
}
.frame-child139 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-person23 {
  position: absolute;
  top: 3.2px;
  left: 12px;
  width: 22px;
  height: 39px;
  cursor: pointer;
  z-index: 2;
}
.ellipse-parent29 {
  height: 47px;
  width: 47px;
  position: relative;
}
.frame-child140 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-cart14 {
  position: absolute;
  top: 5.2px;
  left: 9px;
  width: 26px;
  height: 38.8px;
  z-index: 2;
}
.ellipse-parent30 {
  width: 47px;
  height: 47px;
  position: relative;
}
.frame-wrapper73 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.frame-parent136,
.frame-wrapper72,
.frame-wrapper73,
.rectangle-parent83 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent136 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.frame-wrapper72,
.rectangle-parent83 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-parent83 {
  align-self: stretch;
  background-color: var(--color-red-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-25xl) 0 var(--padding-72xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.trang-ch5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 97px;
  cursor: pointer;
}
.trang-ch-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.div4,
.gi-hng6 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 14px;
}
.gi-hng6 {
  min-width: 90px;
}
.gi-hng-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-8xs) 0 0;
}
.div5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 14px;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.thanh-ton5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 110px;
}
.frame-parent137,
.thanh-ton-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frame-parent137 {
  flex-direction: row;
  padding: 0 var(--padding-2xl) var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.icon5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wrapper1 {
  height: 378px;
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  min-width: 358px;
  max-width: 100%;
}
.tn-mt-hng1 {
  position: relative;
  font-weight: 600;
}
.tn-mt-hng-iphone-13-128gb-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.phng-thc-thanh1 {
  position: relative;
  font-weight: 600;
}
.phng-thc-thanh-ton-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.chuyn-khon1,
.thanh-ton-sau1,
.tr-gp1 {
  position: relative;
  font-weight: 600;
}
.tr-gp1 {
  display: inline-block;
  min-width: 74px;
}
.frame-wrapper74,
.thanh-ton-sau-khi-nhn-hng-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.thanh-ton-sau-khi-nhn-hng-parent {
  gap: var(--gap-22xl-5);
}
.frame-wrapper74 {
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.customer-name,
.thng-tin-khch1 {
  box-sizing: border-box;
  font-weight: 600;
}
.thng-tin-khch1 {
  width: 236px;
  position: relative;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.customer-name {
  width: 42px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.address-input {
  height: 25px;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 222px;
  max-width: 100%;
  cursor: pointer;
}
.product-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.st {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 39px;
}
.year-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.customer-details {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.month-select {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-9xs);
}
.frame-wrapper76,
.month-select,
.product-info-parent,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  width: 280px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  margin-top: -1px;
}
.frame-wrapper76,
.product-info-parent {
  max-width: 100%;
}
.product-info-parent {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper76 {
  width: 436px;
  flex-direction: row;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
}
.a-ch-nhn1 {
  position: relative;
  font-weight: 600;
}
.name-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.address-field {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 209px;
  max-width: 100%;
}
.name-field-parent,
.shipping-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.name-field-parent {
  flex: 1;
  gap: var(--gap-12xs);
}
.shipping-info {
  align-self: stretch;
  padding: 0 0 0 var(--padding-7xl);
  box-sizing: border-box;
}
.frame-wrapper75,
.thng-tin-khch-hng-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.thng-tin-khch-hng-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frame-wrapper75 {
  width: 526px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  min-width: 526px;
}
.frame-child141 {
  height: 50px;
  width: 355px;
  position: relative;
  background-color: var(--color-crimson-200);
  display: none;
  max-width: 100%;
}
.thng-4700000vnthng1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-child142,
.rectangle-parent87 {
  background-color: var(--color-crimson-200);
  max-width: 100%;
}
.rectangle-parent87 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-12xl) var(--padding-smi)
    var(--padding-13xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.frame-child142 {
  height: 50px;
  width: 355px;
  position: relative;
  display: none;
}
.thng-2320000thng1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-parent144,
.rectangle-parent88 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent88 {
  background-color: var(--color-crimson-200);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-30xl) var(--padding-smi)
    var(--padding-31xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.frame-parent144 {
  flex-direction: column;
  gap: var(--gap-7xl);
  min-width: 355px;
}
.frame-parent143 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-parent142,
.phone-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent142 {
  align-self: stretch;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.phone-label {
  width: 58px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 29px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.input-box {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 218px;
  max-width: 100%;
}
.email-container,
.name-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.name-label {
  width: 419px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.email-container {
  align-self: stretch;
}
.frame-child143 {
  height: 50px;
  width: 355px;
  position: relative;
  background-color: var(--color-crimson-200);
  display: none;
  max-width: 100%;
}
.thng-1220000thng1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.input-container,
.rectangle-parent89 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent89 {
  background-color: var(--color-crimson-200);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-smi) var(--padding-28xl);
  white-space: nowrap;
  cursor: pointer;
  margin-top: -3px;
}
.input-container {
  padding: 0 0 0 var(--padding-7xl);
}
.frame-parent141,
.input-container {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
}
.frame-parent138,
.frame-parent139,
.frame-parent140,
.frame-parent141 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent140 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.frame-parent138,
.frame-parent139 {
  flex: 1;
}
.frame-parent139 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-19xl);
  min-width: 635px;
}
.frame-parent138 {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-36xl);
}
.thanh-ton-6,
.thanh-ton-6-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.thanh-ton-6-inner {
  width: 1416px;
  flex-direction: row;
  padding: 0 var(--padding-smi);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.thanh-ton-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-36xl) var(--padding-12xs);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-21xl);
}
@media screen and (max-width: 1150px) {
  .rectangle-parent83 {
    flex-wrap: wrap;
  }
  .icon5 {
    align-self: stretch;
    width: auto;
  }
  .wrapper1 {
    flex: 1;
  }
  .frame-parent138 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .frame-parent133 {
    gap: var(--gap-42xl);
  }
  .frame-parent144,
  .frame-wrapper75 {
    flex: 1;
  }
  .frame-parent143 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent133 {
    flex-wrap: wrap;
  }
  .rectangle-parent83 {
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .thanh-ton-sau-khi-nhn-hng-parent {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .frame-wrapper75 {
    min-width: 100%;
  }
  .frame-parent139 {
    gap: var(--gap-lgi);
    min-width: 100%;
  }
  .frame-parent138 {
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .bn-cn-g14 {
    font-size: var(--font-size-base);
  }
  .frame-parent135 {
    flex-wrap: wrap;
  }
  .frame-parent133 {
    gap: var(--gap-12xl);
  }
  .rectangle-parent83 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .trang-ch5 {
    font-size: var(--font-size-base);
  }
  .div4 {
    width: 100%;
    height: 14px;
  }
  .div4,
  .div5,
  .gi-hng6,
  .thanh-ton5 {
    font-size: var(--font-size-base);
  }
  .frame-parent137 {
    flex-wrap: wrap;
  }
  .wrapper1 {
    min-width: 100%;
  }
  .chuyn-khon1,
  .phng-thc-thanh1,
  .thanh-ton-sau1,
  .thng-tin-khch1,
  .tn-mt-hng1,
  .tr-gp1 {
    font-size: var(--font-size-base);
  }
  .product-info {
    flex-wrap: wrap;
  }
  .a-ch-nhn1,
  .st {
    font-size: var(--font-size-base);
  }
  .name-field-parent {
    flex-wrap: wrap;
  }
  .rectangle-parent88 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent144 {
    min-width: 100%;
  }
  .name-label {
    flex-wrap: wrap;
  }
  .rectangle-parent89 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
