.frame-child160 {
  height: 56px;
  width: 1440px;
  position: relative;
  background-color: var(--color-red-200);
  display: none;
  max-width: 100%;
}
.icon-home16 {
  width: 39px;
  height: 32.2px;
  position: relative;
  z-index: 1;
}
.icon-home-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.cellphones16 {
  margin: 0;
  height: 54px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.frame-parent164 {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child161,
.frame-child162 {
  height: 45px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  display: none;
}
.frame-child162 {
  height: 35px;
  width: 130px;
  background-color: var(--color-red-200);
}
.danh-mc16 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 114px;
  z-index: 3;
}
.rectangle-parent99 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-4xs);
  background-color: var(--color-red-200);
  border-radius: var(--br-mid);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent99:hover {
  background-color: var(--color-red-100);
}
.frame-child163,
.rectangle-parent98 {
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
}
.rectangle-parent98 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-6xs);
  z-index: 1;
}
.frame-child163 {
  height: 45px;
  width: 209px;
  position: relative;
  display: none;
}
.bn-cn-g16 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.bn-cn-g-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.icon-magnifying-glass16 {
  height: 29px;
  width: 30px;
  position: relative;
  min-height: 29px;
  z-index: 2;
}
.frame-parent163,
.frame-parent165,
.rectangle-parent100 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent100 {
  flex: 1;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 136px;
  z-index: 1;
}
.frame-parent163,
.frame-parent165 {
  max-width: 100%;
}
.frame-parent165 {
  flex: 1;
  gap: var(--gap-10xl);
  min-width: 249px;
  font-size: var(--font-size-xl);
}
.frame-parent163 {
  width: 787px;
  gap: var(--gap-104xl);
}
.frame-child164 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-phone16 {
  position: absolute;
  top: 4.2px;
  left: 15px;
  width: 17.7px;
  height: 38.8px;
  z-index: 2;
}
.ellipse-parent34 {
  height: 47px;
  width: 47px;
  position: relative;
}
.frame-child165 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-person25 {
  position: absolute;
  top: 3.2px;
  left: 12px;
  width: 22px;
  height: 39px;
  cursor: pointer;
  z-index: 2;
}
.ellipse-parent35 {
  height: 47px;
  width: 47px;
  position: relative;
}
.frame-child166 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-cart16 {
  position: absolute;
  top: 5.2px;
  left: 9px;
  width: 26px;
  height: 38.8px;
  z-index: 2;
}
.ellipse-parent36 {
  width: 47px;
  height: 47px;
  position: relative;
}
.frame-wrapper86 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.frame-parent166,
.frame-wrapper85,
.frame-wrapper86,
.rectangle-parent97 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent166 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.frame-wrapper85,
.rectangle-parent97 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-parent97 {
  align-self: stretch;
  background-color: var(--color-red-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-25xl) 0 var(--padding-72xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.trang-ch7 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 97px;
  cursor: pointer;
}
.trang-ch-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.div8,
.gi-hng8 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 14px;
}
.gi-hng8 {
  min-width: 90px;
}
.gi-hng-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-8xs) 0 0;
}
.div9 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 14px;
}
.wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.thanh-ton7 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 110px;
}
.frame-parent167,
.thanh-ton-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frame-parent167 {
  flex-direction: row;
  padding: 0 var(--padding-2xl) var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.icon7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wrapper5 {
  height: 378px;
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  min-width: 358px;
  max-width: 100%;
}
.tn-mt-hng3 {
  position: relative;
  font-weight: 600;
}
.tn-mt-hng-iphone-13-128gb-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.phng-thc-thanh3 {
  position: relative;
  font-weight: 600;
}
.phng-thc-thanh-ton-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.chuyn-khon3,
.thanh-ton-sau3,
.tr-gp3 {
  position: relative;
  font-weight: 600;
}
.tr-gp3 {
  display: inline-block;
  min-width: 74px;
}
.frame-wrapper87,
.thanh-ton-sau-khi-nhn-hng-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.thanh-ton-sau-khi-nhn-hng-container {
  gap: var(--gap-22xl-5);
}
.frame-wrapper87 {
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.frame-child167,
.thng-tin-khch3 {
  box-sizing: border-box;
  font-weight: 600;
}
.thng-tin-khch3 {
  width: 236px;
  position: relative;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.frame-child167 {
  width: 42px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-child168 {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 222px;
  max-width: 100%;
}
.frame-child169,
.frame-parent175 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent175 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.frame-child169 {
  width: 39px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-child170 {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.frame-parent176 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-9xs);
}
.frame-parent174,
.frame-parent176,
.frame-wrapper89,
.frame-wrapper90 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper90 {
  width: 280px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  margin-top: -1px;
}
.frame-parent174,
.frame-wrapper89 {
  max-width: 100%;
}
.frame-parent174 {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper89 {
  width: 436px;
  flex-direction: row;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
}
.a-ch-nhn3 {
  position: relative;
  font-weight: 600;
}
.a-ch-nhn-hng-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.frame-child171 {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 209px;
  max-width: 100%;
}
.frame-parent177,
.frame-wrapper91 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent177 {
  flex: 1;
  gap: var(--gap-12xs);
}
.frame-wrapper91 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-7xl);
  box-sizing: border-box;
}
.frame-wrapper88,
.thng-tin-khch-hng-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.thng-tin-khch-hng-parent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frame-wrapper88 {
  width: 526px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  min-width: 526px;
}
.frame-child172 {
  height: 50px;
  width: 355px;
  position: relative;
  background-color: var(--color-crimson-200);
  display: none;
  max-width: 100%;
}
.thng-4700000vnthng3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-child173,
.rectangle-parent101 {
  background-color: var(--color-crimson-200);
  max-width: 100%;
}
.rectangle-parent101 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-12xl) var(--padding-smi)
    var(--padding-13xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.frame-child173 {
  height: 50px;
  width: 355px;
  position: relative;
  display: none;
}
.thng-2320000thng3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-parent178,
.rectangle-parent102 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent102 {
  background-color: var(--color-crimson-200);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-30xl) var(--padding-smi)
    var(--padding-31xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.frame-parent178 {
  flex-direction: column;
  gap: var(--gap-7xl);
  min-width: 355px;
}
.frame-parent173 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child174,
.frame-parent172 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent172 {
  align-self: stretch;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.frame-child174 {
  width: 58px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 29px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-child175 {
  height: 25px;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 218px;
  max-width: 100%;
  cursor: pointer;
}
.frame-parent180,
.frame-wrapper92 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent180 {
  width: 419px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.frame-wrapper92 {
  align-self: stretch;
}
.frame-child176 {
  height: 50px;
  width: 355px;
  position: relative;
  background-color: var(--color-crimson-200);
  display: none;
  max-width: 100%;
}
.thng-1220000thng3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-parent179,
.rectangle-parent103 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent103 {
  background-color: var(--color-crimson-200);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-smi) var(--padding-28xl);
  white-space: nowrap;
  cursor: pointer;
  margin-top: -3px;
}
.frame-parent179 {
  padding: 0 0 0 var(--padding-7xl);
}
.frame-parent171,
.frame-parent179 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
}
.frame-parent168,
.frame-parent169,
.frame-parent170,
.frame-parent171 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent170 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.frame-parent168,
.frame-parent169 {
  flex: 1;
}
.frame-parent169 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-19xl);
  min-width: 635px;
}
.frame-parent168 {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-36xl);
}
.thanh-ton-8,
.thanh-ton-8-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.thanh-ton-8-inner {
  width: 1416px;
  flex-direction: row;
  padding: 0 var(--padding-smi);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.thanh-ton-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-36xl) var(--padding-12xs);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-21xl);
}
@media screen and (max-width: 1150px) {
  .rectangle-parent97 {
    flex-wrap: wrap;
  }
  .icon7 {
    align-self: stretch;
    width: auto;
  }
  .wrapper5 {
    flex: 1;
  }
  .frame-parent168 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .frame-parent163 {
    gap: var(--gap-42xl);
  }
  .frame-parent178,
  .frame-wrapper88 {
    flex: 1;
  }
  .frame-parent173 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent163 {
    flex-wrap: wrap;
  }
  .rectangle-parent97 {
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .thanh-ton-sau-khi-nhn-hng-container {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .frame-wrapper88 {
    min-width: 100%;
  }
  .frame-parent169 {
    gap: var(--gap-lgi);
    min-width: 100%;
  }
  .frame-parent168 {
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .bn-cn-g16 {
    font-size: var(--font-size-base);
  }
  .frame-parent165 {
    flex-wrap: wrap;
  }
  .frame-parent163 {
    gap: var(--gap-12xl);
  }
  .rectangle-parent97 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .trang-ch7 {
    font-size: var(--font-size-base);
  }
  .div8 {
    width: 100%;
    height: 14px;
  }
  .div8,
  .div9,
  .gi-hng8,
  .thanh-ton7 {
    font-size: var(--font-size-base);
  }
  .frame-parent167 {
    flex-wrap: wrap;
  }
  .wrapper5 {
    min-width: 100%;
  }
  .chuyn-khon3,
  .phng-thc-thanh3,
  .thanh-ton-sau3,
  .thng-tin-khch3,
  .tn-mt-hng3,
  .tr-gp3 {
    font-size: var(--font-size-base);
  }
  .frame-parent175 {
    flex-wrap: wrap;
  }
  .a-ch-nhn3 {
    font-size: var(--font-size-base);
  }
  .frame-parent177 {
    flex-wrap: wrap;
  }
  .rectangle-parent102 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent178 {
    min-width: 100%;
  }
  .frame-parent180 {
    flex-wrap: wrap;
  }
  .rectangle-parent103 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
