.frame-child209 {
  height: 56px;
  width: 1440px;
  position: relative;
  background-color: var(--color-red-200);
  display: none;
  max-width: 100%;
}
.icon-home20 {
  width: 39px;
  height: 32.2px;
  position: relative;
  z-index: 1;
}
.icon-home-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.cellphones20 {
  margin: 0;
  height: 54px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.frame-parent206 {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child210,
.frame-child211 {
  height: 45px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  display: none;
}
.frame-child211 {
  height: 35px;
  width: 130px;
  background-color: var(--color-red-200);
}
.danh-mc20 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 114px;
  z-index: 3;
}
.rectangle-parent125 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-4xs);
  background-color: var(--color-red-200);
  border-radius: var(--br-mid);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent125:hover {
  background-color: var(--color-red-100);
}
.frame-child212,
.rectangle-parent124 {
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
}
.rectangle-parent124 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-6xs);
  z-index: 1;
}
.frame-child212 {
  height: 45px;
  width: 209px;
  position: relative;
  display: none;
}
.bn-cn-g20 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.search-icon4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.icon-magnifying-glass20 {
  height: 29px;
  width: 30px;
  position: relative;
  min-height: 29px;
  z-index: 2;
}
.frame-parent205,
.frame-parent207,
.rectangle-parent126 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent126 {
  flex: 1;
  border-radius: var(--br-mid);
  background-color: var(--color-firebrick-100);
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 136px;
  z-index: 1;
}
.frame-parent205,
.frame-parent207 {
  max-width: 100%;
}
.frame-parent207 {
  flex: 1;
  gap: var(--gap-10xl);
  min-width: 249px;
  font-size: var(--font-size-xl);
}
.frame-parent205 {
  width: 787px;
  gap: var(--gap-104xl);
}
.frame-child213 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-phone20 {
  position: absolute;
  top: 4.2px;
  left: 15px;
  width: 17.7px;
  height: 38.8px;
  z-index: 2;
}
.ellipse-parent43 {
  height: 47px;
  width: 47px;
  position: relative;
}
.frame-child214 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-person29 {
  position: absolute;
  top: 3.2px;
  left: 12px;
  width: 22px;
  height: 39px;
  cursor: pointer;
  z-index: 2;
}
.ellipse-parent44 {
  height: 47px;
  width: 47px;
  position: relative;
}
.paypal {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icon-cart20 {
  position: absolute;
  top: 5.2px;
  left: 9px;
  width: 26px;
  height: 38.8px;
  z-index: 2;
}
.paypal-parent {
  width: 47px;
  height: 47px;
  position: relative;
}
.frame-wrapper110 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.frame-parent208,
.frame-wrapper109,
.frame-wrapper110,
.rectangle-parent123 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent208 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.frame-wrapper109,
.rectangle-parent123 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-parent123 {
  align-self: stretch;
  background-color: var(--color-red-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-25xl) 0 var(--padding-72xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.trang-ch11 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 97px;
  cursor: pointer;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.gi-hng12,
.price {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 14px;
}
.gi-hng12 {
  min-width: 90px;
}
.content-box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-8xs) 0 0;
}
.cart-total {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 14px;
}
.add-to-cart-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.thanh-ton13 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 110px;
}
.content-box-parent,
.content-box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.content-box-parent {
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-4xs);
}
.icon11 {
  width: 358px;
  position: relative;
  border-radius: var(--br-8xs);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frame-parent209,
.product-listing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent209 {
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.product-listing {
  align-items: flex-start;
  padding: 0 0 var(--padding-29xl);
  box-sizing: border-box;
  min-width: 371px;
  min-height: 441px;
}
.tn-mt-hng7 {
  position: relative;
  font-weight: 600;
}
.tn-mt-hng-iphone-13-128gb-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.chuyn-khon7,
.phng-thc-thanh7,
.thanh-ton-sau7,
.tr-gp7 {
  position: relative;
  font-weight: 600;
}
.tr-gp7 {
  display: inline-block;
  min-width: 74px;
}
.thanh-ton-sau-khi-nhn-hng-parent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl-5);
  max-width: 100%;
}
.size-selector-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-4xl);
  box-sizing: border-box;
}
.size-selector,
.size-selector-inner,
.stock-indicator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.size-selector {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.stock-indicator {
  width: 612px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.header,
.thng-tin-khch7 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.thng-tin-khch7 {
  position: relative;
  text-align: left;
}
.header {
  width: 42px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.billing-address {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 222px;
  max-width: 100%;
}
.phone-number2,
.product-info2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-info2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.phone-number2 {
  width: 39px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.delivery-address-child {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.delivery-address1 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-9xs);
}
.delivery-address1,
.frame-wrapper111,
.phone-number1,
.product-info-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-number1 {
  width: 280px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  margin-top: -1px;
}
.frame-wrapper111,
.product-info-group {
  max-width: 100%;
}
.product-info-group {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper111 {
  width: 436px;
  flex-direction: row;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
}
.a-ch-nhn7 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.third-party-logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.content-block {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 209px;
  max-width: 100%;
}
.frame-child215,
.frame-wrapper112,
.third-party-logos-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.third-party-logos-parent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-12xs);
  max-width: 100%;
}
.frame-child215,
.frame-wrapper112 {
  box-sizing: border-box;
}
.frame-wrapper112 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xl);
  max-width: 100%;
}
.frame-child215 {
  width: 58px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 29px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-child216 {
  height: 25px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  min-width: 218px;
  max-width: 100%;
}
.frame-parent211 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-8xs);
}
.button,
.frame-parent211,
.thng-tin-khch-hng-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.button {
  width: 451px;
  flex-direction: row;
  padding: 0 var(--padding-7xl);
  box-sizing: border-box;
}
.thng-tin-khch-hng-parent3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.frame-child217 {
  height: 53px;
  width: 280px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-orangered-300);
  display: none;
}
.thanh-ton14 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.frame-wrapper113,
.rectangle-parent127 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent127 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-13xl);
  background-color: var(--color-orangered-300);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.rectangle-parent127:hover {
  background-color: var(--color-orangered-100);
}
.frame-wrapper113 {
  width: 466px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent210,
.last-name-label-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent210 {
  margin: 0;
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-3xl);
}
.last-name-label-inner {
  width: 526px;
  align-items: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  min-width: 526px;
}
.frame-child218 {
  height: 50px;
  width: 355px;
  position: relative;
  background-color: var(--color-crimson-200);
  display: none;
  max-width: 100%;
}
.thng-4700000vnthng7 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-child219,
.rectangle-parent128 {
  background-color: var(--color-crimson-200);
  max-width: 100%;
}
.rectangle-parent128 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-12xl) var(--padding-smi)
    var(--padding-13xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.frame-child219 {
  height: 50px;
  width: 355px;
  position: relative;
  display: none;
}
.thng-2320000thng7 {
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.frame-child220,
.rectangle-parent129 {
  background-color: var(--color-crimson-200);
  max-width: 100%;
}
.rectangle-parent129 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-smi) 41px;
  box-sizing: border-box;
  white-space: nowrap;
}
.frame-child220 {
  height: 50px;
  width: 355px;
  position: relative;
  display: none;
}
.thng-1220000thng7 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.rectangle-parent130 {
  background-color: var(--color-crimson-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-28xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.last-name-label,
.month-picker,
.rectangle-parent130 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.month-picker {
  width: 355px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  min-width: 355px;
}
.last-name-label {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.color-selector,
.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.color-selector {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.image-container {
  flex: 1;
  gap: var(--gap-19xl);
  min-width: 635px;
}
.product-listing-parent,
.thanh-ton-4 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.product-listing-parent {
  width: 1423px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-36xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.thanh-ton-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-8xl) var(--padding-12xs);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-21xl);
}
@media screen and (max-width: 1150px) {
  .rectangle-parent123 {
    flex-wrap: wrap;
  }
  .product-listing {
    flex: 1;
  }
  .product-listing-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .frame-parent205 {
    gap: var(--gap-42xl);
  }
  .last-name-label-inner,
  .month-picker {
    flex: 1;
  }
  .last-name-label {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent205 {
    flex-wrap: wrap;
  }
  .rectangle-parent123 {
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .thanh-ton-sau-khi-nhn-hng-parent3 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .last-name-label-inner {
    min-width: 100%;
  }
  .image-container {
    gap: var(--gap-lgi);
    min-width: 100%;
  }
  .product-listing-parent {
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .bn-cn-g20 {
    font-size: var(--font-size-base);
  }
  .frame-parent207 {
    flex-wrap: wrap;
  }
  .frame-parent205 {
    gap: var(--gap-12xl);
  }
  .rectangle-parent123 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .trang-ch11 {
    font-size: var(--font-size-base);
  }
  .price {
    width: 100%;
    height: 14px;
  }
  .cart-total,
  .gi-hng12,
  .price,
  .thanh-ton13 {
    font-size: var(--font-size-base);
  }
  .content-box-parent {
    flex-wrap: wrap;
  }
  .product-listing {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .chuyn-khon7,
  .phng-thc-thanh7,
  .thanh-ton-sau7,
  .thng-tin-khch7,
  .tn-mt-hng7,
  .tr-gp7 {
    font-size: var(--font-size-base);
  }
  .product-info2 {
    flex-wrap: wrap;
  }
  .a-ch-nhn7 {
    font-size: var(--font-size-base);
  }
  .frame-parent211,
  .third-party-logos-parent {
    flex-wrap: wrap;
  }
  .rectangle-parent130 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .month-picker {
    min-width: 100%;
  }
}
